
@{
    ViewBag.Title = "Example";
}

<div>
    <div class="previewsecondLevel">CSS examples and code</div>
</div>
<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div>
    <p>Hello World</p>
</div>

<div>
    <div class="previewsecondLevel">Bootstrap responsiveness examples and code</div>
</div>
<div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>

<style>
    .preview {
        background-color: lightcoral;
        font-family: Arial, sans-serif;
        font-size: 16px;
        width: 300px;
        padding: 10px;
        margin: 5px;
        box-shadow: 2px 2px 5px #888888;
        border-radius: 5px;
        font-weight: bold;
    }

    .preview2 {
        background-color: deepskyblue;
        font-family: Arial, sans-serif;
        font-size: 16px;
        width: 300px;
        padding: 10px;
        margin: 5px;
        box-shadow: 2px 2px 5px #888888;
        border-radius: 5px;
        font-weight: bold;
    }

    .previewsecondLevel {
        color: black;font-weight: bold
    }

    p {
        color: floralwhite;
    }
</style>

